<div class="modal-header">
    <h4 class="modal-title">Settings</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form>
        <div class="row">
            <div class="col">
                <h4>Shortcuts</h4>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-6">
                <div class="form-check col-form-label-sm">
                    <input class="form-check-input" type="checkbox" value="" id="inputShortcutGlobalCheckbox">
                    <label class="form-check-label" for="inputShortcutGlobalCheckbox">
                        Global Shortcut
                    </label>
                </div>
            </div>
            <div class="col-6">
                <input class="form-control form-control-sm" id="inputShortcutGlobal" placeholder="CMD + SHIFT + v">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-6">
                <div class="form-check col-form-label-sm">
                    <input class="form-check-input" type="checkbox" value="" id="inputShortcutCloseCheckbox">
                    <label class="form-check-label" for="inputShortcutCloseCheckbox">
                        Close Application
                    </label>
                </div>
            </div>
            <div class="col-6">
                <input checked class="form-control form-control-sm" id="inputShortcutClose" placeholder="ESC">
            </div>
        </div>

        <hr />
        <div class="row">
            <div class="col">
                <h4>Appearance</h4>
            </div>
        </div>
        <div class="form-group row">
            <label for="inputLanguage" class="col-6 col-form-label col-form-label-sm">Language</label>
            <div class="col-6">
                <select id="inputLanguage" class="form-control form-control-sm">
                    <option selected>English</option>
                    <option>German</option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label for="inputTheme" class="col-6 col-form-label col-form-label-sm">Theme</label>
            <div class="col-6">
                <select id="inputTheme" class="form-control form-control-sm">
                    <option selected>Light</option>
                    <option>Dark</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-check col-form-label-sm">
                    <input class="form-check-input" type="checkbox" value="" id="inputShowSystemTray">
                    <label class="form-check-label" for="inputShowSystemTray">
                        Show System Tray
                    </label>
                </div>
            </div>
        </div>

        <hr />
        <div class="row">
            <div class="col">
                <h4>General</h4>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-check col-form-label-sm">
                    <input class="form-check-input" type="checkbox" value="" id="inputAutomaticPaste">
                    <label class="form-check-label" for="inputAutomaticPaste">
                        Automatic paste after selection
                    </label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-check col-form-label-sm">
                    <input class="form-check-input" type="checkbox" value="" id="inputStartOnLogin">
                    <label class="form-check-label" for="inputStartOnLogin">
                        Start on login
                    </label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-check col-form-label-sm">
                    <input class="form-check-input" type="checkbox" value="" id="inputDetectImages">
                    <label class="form-check-label" for="inputDetectImages">
                        Detect Images in clipboard
                    </label>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-success" (click)="activeModal.close('Close click')">Restore defaults</button>
    <button type="button" class="btn btn-outline-success" (click)="activeModal.close('Close click')">Apply changes</button>
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
</div>
