<nav class="navbar sticky-top navbar-light bg-light">
    <span class="navbar-brand">
        <img src="/assets/images/icon.png" width="30" height="30" class="d-inline-block align-top">
        {{ 'TITLE' | translate }}
    </span>

    <div class='form-inline'>
        <button class="btn btn-outline-success" (click)="showSettings()">X</button>&nbsp;
        <button class="btn btn-outline-success" (click)="showHelp()">?</button>
    </div>
</nav>

<app-clipboard-history></app-clipboard-history>
